@media only screen and (max-width: 544px) {
    .calculatorDisplay {
        min-height: 23.5vw;
        padding: 1.5vw;
        margin-bottom: 3vw;
    }
}

@media only screen and (min-width: 544px) {
    .calculatorDisplay {
        min-height: 128px;
        padding: 8px;
        margin-bottom: 16px;
    }
}

.calculatorDisplay {
    background-image: linear-gradient(
        rgb(138, 138, 138) 0%,
        rgb(135, 135, 135) 80%
    );
}

.calculatorDisplay-result {
    color: rgb(240, 200, 184);
}
