@media only screen and (max-width: 544px) {
    .calculatorDisplay {
        min-height: calc(min(23.5vw, 96px));
        padding: 1.5vw;
        margin-bottom: 3vw;
    }
}

@media only screen and (min-width: 544px) {
    .calculatorDisplay {
        min-height: 96px;
        padding: 8px;
        margin-bottom: 16px;
    }
}

.calculatorDisplay {
    background-image: linear-gradient(
        rgb(129, 129, 129) 0%,
        rgb(117, 117, 117) 80%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculatorDisplay-result {
    color: rgb(255, 253, 252);
}
