@media only screen and (max-width: 544px) {
    .calculator-container {
        padding: 2vw;
    }
}

@media only screen and (min-width: 544px) {
    .calculator-container {
        border-radius: 0 0 16px 16px;
        padding: 12px;
    }
}

.calculator-container {
    background-color: rgb(204, 127, 104);
    box-shadow: 0 0 24px 4px rgba(12, 12, 12, 0.1);
}
