@media only screen and (max-width: 544px) {
    .calculatorButton {
        height: 23.5vw;
        width: 23.5vw;
    }
}

@media only screen and (min-width: 544px) {
    .calculatorButton {
        height: 96px;
        width: 96px;
    }
}

.calculatorButton {
    border-radius: 50%;
    border: none;
    margin: 0;
    padding: 0;
}

.calculatorButton:hover {
    background-color: rgb(5, 5, 5);
    cursor: pointer;
    opacity: 0.8;
}

.calculatorButton:active {
    opacity: 0.5;
}
