.calculatorButton {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: none;
}

.calculatorButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.calculatorButton:active {
    opacity: 0.5;
}
