@media only screen and (max-width: 544px) {
    .calculatorButton {
        height: 23.5vw;
        width: 23.5vw;
    }
}

@media only screen and (min-width: 544px) {
    .calculatorButton {
        height: 128px;
        width: 128px;
    }
}

.calculatorButton {
    border-radius: 50%;
    border: none;
    margin: 0;
    padding: 0;
}

.calculatorButton:hover {
    opacity: 0.6;
    cursor: pointer;
}

.calculatorButton:active {
    opacity: 0.3;
}
