@media only screen and (max-width: 544px) {
    body {
        font-size: 8vw;
    }
    button {
        font-size: 8vw;
    }
}

@media only screen and (min-width: 544px) {
    body {
        font-size: 36px;
    }
    button {
        font-size: 36px;
    }
}

body {
    background-color: rgb(219, 165, 151);
    color: rgb(12, 12, 12);
    margin: 0 auto;
    font-family: 'Poppins-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 384px;
    max-width: 544px;
    border: none;
}

button {
    font-family: 'Poppins-Regular';
}

button:focus-visible {
    outline: rgb(243, 222, 222) solid 4px;
    position: relative;
    z-index: 10;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url('./fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('./fonts/Poppins-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}
