.blinkingCursor {
    font-family: 'Poppins-Regular';
    animation: blinkingCursor 1.15s;
    animation-iteration-count: infinite;
    color: rgb(52, 52, 52);
}

@keyframes blinkingCursor {
    from {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
