.blinkingCursor {
    animation: blinkingCursor 1.15s;
    animation-iteration-count: infinite;
    color: rgb(35, 35, 35);
    font-family: 'Poppins-Regular';
}

@keyframes blinkingCursor {
    from {
        opacity: 0.1;
    }

    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}
